@model IEnumerable<And.Ecommerce.Core.Model.Entity.Category>

@*@{
    foreach (var item in Model)
    {
       <li class="item"><a class="list-group-item-heading" href="/Category/@item.Name.Replace(" ", "-")/@item.ID">@item.Name</a></li>
      
    }
}*@